{% extends 'base.html' %}

{% block title %}
Aprovação de Candidatos
{% endblock title %}

{% block content %}
<div class="dashboard-container">
    <div class="navbar">
        <div>
            <a href="{% url 'avisos_dashboard' %}">Início</a>
            <a href="{% url 'palestras' %}">Palestras</a>
            <a href="{% url 'dinamicas' %}">Dinâmicas</a>
            <a href="{% url 'entrevistas' %}">Entrevista</a>
            <a href="{% url 'meu_perfil' %}">Meu perfil</a>
        </div>
    </div>

    <div class="main-content">
        <h2>Aprovação de Candidatos</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Candidato</th>
                        <th>Aprovado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidato in candidatos %}
                    <tr>
                        <td>{{ candidato.user.get_full_name }}</td>
                        <td><input type="checkbox" name="aprovados" value="{{ candidato.id }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
</div>
{% endblock content %}
