{% extends 'base.html' %}

{% block title %}
Dinâmicas
{% endblock title %}

{% block content %}
<div class="dashboard-container">
    <div class="navbar">
        <div>
            <a href="{% url 'avisos_dashboard' %}">Início</a>
            <a href="{% url 'palestras' %}">Palestras</a>
            <a href="{% url 'dinamicas' %}">Dinâmicas</a>
            <a href="{% url 'entrevistas' %}">Entrevista</a>
            <a href="{% url 'meu_perfil' %}">Meu perfil</a>
        </div>
    </div>

    <div class="main-content">
        <h2>Dinâmicas</h2>
        {% if is_membro %}
        {% if mensagem %}
        <p>{{ mensagem }}</p>
        {% else %}
        <p>Selecione os horários disponíveis para conduzir dinâmicas.</p>
        <form method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        {% for horario in horarios %}
                        <th>{{ horario }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>{{ data|date:"d/m/Y" }}</td>
                        {% for horario in horarios %}
                        <td>
                            <input type="checkbox" name="disponibilidades[]" value="{{ data|date:"d/m/Y" }}|{{ horario }}">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Salvar</button>
        </form>
        {% endif %}
        <div class="editar-perfil">
            <br>
            <a href="{% url 'aprovar_dinamicas' %}" class="btn btn-primary">Aprovação Candidatos</a>
        </div>
        <div class="box">
            <h3>Fórum de dúvidas</h3>
            <form method="post" action="">
                {% csrf_token %}
                {{ form_dinamica.as_p }}
                <button type="submit" name="publicar_duvida" class="btn btn-primary">Publicar Dúvida</button>
            </form>
            <hr>

            <h4>Lista de Dúvidas</h4>
            {% if duvidas_dinamica_lista %}
                {% for duvida in duvidas_dinamica_lista %}
                    <div class="duvida">
                        <p>{{ duvida.texto}}</p>
                        <small>Publicado por {{ duvida.autor.username }} em {{ duvida.data|date:"d/m/Y H:i" }}</small>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <p>Não há dúvidas no momento.</p>
            {% endif %}
        {% else %}
        {% if mensagem %}
        <p>{{ mensagem }}</p>
        
        {% else %}
        <p>Escolha um horário disponível para participar de uma dinâmica.</p>
        <form method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Membro</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for disponibilidade in disponibilidades %}
                    <tr>
                        <td>{{ disponibilidade.membro.username }}</td>
                        <td>{{ disponibilidade.data }}</td>
                        <td>{{ disponibilidade.hora }}</td>
                        <td>
                            <button type="submit" name="disponibilidade_id" value="{{ disponibilidade.id }}">Inscrever-se</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        
        {% endif %}
        <div class="resultado-container">
            <h3>Resultado:</h3>
            {% if user_profile.status_dinamica == 'pendente' %}
                <p><strong style="color: orchid;">Pendente</strong></p>
            {% elif user_profile.status_dinamica == 'aprovado' %}
                <p><strong style="color: green;">Aprovado</strong></p>
            {% elif user_profile.status_dinamica == 'reprovado' %}
                <p><strong style="color: red;">Reprovado</strong></p>
            {% endif %}
        </div>
        {% endif %}
        <!-- Vísivel para membros e candidatos-->
        <br>
        <br>
        <a href="{% url 'dinamicas:chat_duvidas' %}" class="login-button">Chat de Dúvidas</a>
        
    </div>
</div>
{% endblock content %}