{% extends 'base.html' %}

{% block title %}
Dinâmicas
{% endblock title %}

{% block content %}
<div class="dashboard-container">
    <div class="navbar">
        <div>
            <a href="{% url 'avisos_dashboard' %}">Início</a>
            <a href="{% url 'palestras' %}">Palestras</a>
            <a href="{% url 'dinamicas' %}">Dinâmicas</a>
            <a href="{% url 'entrevistas' %}">Entrevista</a>
            <a href="{% url 'meu_perfil' %}">Meu perfil</a>
        </div>
    </div>

    <div class="main-content">
        <h2>Dinâmicas</h2>
        {% if is_membro %}
        {% if mensagem %}
        <p>{{ mensagem }}</p>
        {% else %}
        <p>Selecione os horários disponíveis para conduzir dinâmicas.</p>
        <form method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        {% for horario in horarios %}
                        <th>{{ horario }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>{{ data|date:"d/m/Y" }}</td>
                        {% for horario in horarios %}
                        <td>
                            <input type="checkbox" name="disponibilidades[]" value="{{ data|date:"d/m/Y" }}|{{ horario }}">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Salvar</button>
        </form>
        {% endif %}
        <div class="editar-perfil">
            <br>
            <a href="{% url 'aprovar_candidatos' %}" class="btn btn-primary">Aprovação Candidatos</a>
        </div>
        {% else %}
        {% if mensagem %}
        <p>{{ mensagem }}</p>
        {% else %}
        <p>Escolha um horário disponível para participar de uma dinâmica.</p>
        <form method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Membro</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for disponibilidade in disponibilidades %}
                    <tr>
                        <td>{{ disponibilidade.membro.username }}</td>
                        <td>{{ disponibilidade.data }}</td>
                        <td>{{ disponibilidade.hora }}</td>
                        <td>
                            <button type="submit" name="disponibilidade_id" value="{{ disponibilidade.id }}">Inscrever-se</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        {% endif %}
        <div class="resultado-container">
            <h3>Resultado:</h3>
            {% if user_profile.status_aprovacao == 'pendente' %}
                <p><strong style="color: orchid;">Pendente</strong></p>
            {% elif user_profile.status_aprovacao == 'aprovado' %}
                <p><strong style="color: green;">Aprovado</strong></p>
            {% elif user_profile.status_aprovacao == 'reprovado' %}
                <p><strong style="color: red;">Reprovado</strong></p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}