{% extends 'base.html' %}
{% block content %}
<h2>Selecione um horário</h2>
{% if user.is_authenticated and user.selecao_set.exists %}
<p class=""success-message">
  Você já selecionou a palestra: {{ user.selecao_set.first.palestra.name }}
  no horário {{ user.selecao_set.first.palestra.horário }}.
</p>
{% else %}
<form method="post" action="{% url 'palestras:select' %}">
  {% csrf_token %}
  <label for="palestra">Data (horário)</label>
  <select name="palestra_id" id="palestra" required>
    <option value="" disabled selected>Escolha uma palestra</option>
    {% for palestra in palestra_list %}
    <option value="{{ palestra.id }}">{{ palestra.name}} ({{ palestra.horário|date:"d/m H\h" }})</option>
    {% endfor %}
  </select>
  <button type="submit">Selecionar</button>
</form>
{% endif %}
{% if message %}
<p class="success-message">{{ message }}</p>
{% endif %}
{% endblock content %}